NODE_ENV=development
PORT=4000
CORS_ORIGIN=http://localhost:3000
SERVER_URL=http://localhost:4000

DATABASE_URL="postgresql://username:password@localhost:5432/moving_db?schema=public"

# JWT
JWT_SECRET=your-jwt-secret-min-10-chars
JWT_EXPIRES_IN=7 #일
JWT_REFRESH_SECRET=your-jwt-refresh-secret-min-10-chars
JWT_REFRESH_EXPIRES_IN=30 #일

# OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# AWS S3
# AWS_REGION=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# S3_BUCKET=