services:
  api:
    build: .
    ports:
      - 4000:4000
    environment:
      NODE_ENV: development
      CORS_ORIGIN: ${CORS_ORIGIN}
      PORT: 4000
      DATABASE_URL: ${DATABASE_URL}

      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
      JWT_REFRESH_EXPIRES_IN: ${JWT_REFRESH_EXPIRES_IN}

      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}

      KAKAO_CLIENT_ID: ${KAKAO_CLIENT_ID}
      KAKAO_CLIENT_SECRET: ${KAKAO_CLIENT_SECRET}

      NAVER_CLIENT_ID: ${NAVER_CLIENT_ID}
      NAVER_CLIENT_SECRET: ${NAVER_CLIENT_SECRET}

      SERVER_URL: ${SERVER_URL}

      AWS_REGION: ${AWS_REGION}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      S3_BUCKET: ${S3_BUCKET}
      S3_PUBLIC_BASE_URL: ${S3_PUBLIC_BASE_URL}
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    restart: unless-stopped

  migrate:
    build: .
    environment:
      DATABASE_URL: ${DATABASE_URL}
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    command: ['npx', 'prisma', 'migrate', 'deploy']
    restart: no
