services:
  api:
    image: ${IMAGE_NAME:-ghcr.io/fs08-moving-f5/fs08-moving-f5-be:prod-latest}
    env_file:
      - .env
    environment:
      NODE_ENV: ${NODE_ENV:-production}
      PORT: 4000
      DATABASE_URL: ${DATABASE_URL_HOST}
    network_mode: host
    restart: unless-stopped

  migrate:
    image: ${IMAGE_NAME:-ghcr.io/fs08-moving-f5/fs08-moving-f5-be:prod-latest}
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL_HOST}
    network_mode: host
    command: ['npx', 'prisma', 'migrate', 'deploy']
    restart: no
