name: Deploy (Production)

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set image names
        run: |
          echo "IMAGE_NAME=ghcr.io/${{ github.repository }}:prod-${{ github.sha }}" >> $GITHUB_ENV
          echo "IMAGE_LATEST=ghcr.io/${{ github.repository }}:prod-latest" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}
            ${{ env.IMAGE_LATEST }}

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PROD_SSH_HOST }}
          username: ${{ secrets.PROD_SSH_USER }}
          key: ${{ secrets.PROD_SSH_KEY }}
          port: ${{ secrets.PROD_SSH_PORT }}
          envs: GITHUB_ACTOR,GITHUB_TOKEN,IMAGE_NAME
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
        script: |
          set -e
          cd /minjun-server/srv/fs08-moving-f5

          docker login ghcr.io -u $GITHUB_ACTOR -p $GITHUB_TOKEN

          docker compose -f docker-compose.yml pull
          docker compose -f docker-compose.yml run --rm migrate
          docker compose -f docker-compose.yml up -d
          docker image prune -f
